LearningReact/react-complete-guide/*

#Excluded assignments
!LearningReact/base-syntax-assignment/*
LearningReact/base-syntax-assignment/node_modules/
LearningReact/base-syntax-assignment/package-lock.json

!LearningReact/lists-conditionals-assignment/*
LearningReact/lists-conditionals-assignment/node_modules/
LearningReact/lists-conditionals-assignment/package-lock.json